<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <table class="job-listings">
        <tr th:each='category : ${jobs}'>

        <td>
            <p th:text="${'ID:' + category.id}"></p>
            <p th:text="${'Name:' + category.name}"></p>
            <p th:text="${'Employer:' + category.employer}"></p>
            <p th:text="${'Location:' + category.location}"></p>
            <p th:text="${'Position Type:' + category.positionType}"></p>
            <p th:text="${'Skill:' + category.coreCompetency}"></p>
        </td>
        </tr>
    </table>


</div>

</body>
</html>